@page
@model RegisterModel
<div class="row justify-content-center">
    <div class="col-md-5 mt-5">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Crear nueva cuenta.</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nombres" class="form-control" autocomplete="off" aria-required="true" placeholder="Juan" />
                <label asp-for="Input.Nombres">Nombres</label>
                <span asp-validation-for="Input.Nombres" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Apellidos" class="form-control" autocomplete="off" aria-required="true" placeholder="Perez" />
                <label asp-for="Input.Apellidos">Apellidos</label>
                <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirmar Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Crear cuenta</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
